body {
    min-height: 100vh;
    background-color: var(--base-black);
    margin: 0;
    display: grid;
    place-content: center;
    font-size: 18px;
    font-family: "Segoe UI", "Segoe UI Web", "Helvetica Neue", Arial, sans-serif;
    box-sizing: border-box;
}
h1 {
    margin: 8px;
}
.login-block {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border-left: 5px solid var(--base-yellow);
    border-top: 5px solid var(--base-yellow);
    padding: 15px;
    width: 50vw;

    background-color: var(--base-yellow);
    /* box-shadow: 3px 3px 5px 3px rgb(176, 176, 176); */
}
.format-input {
    margin-top: 10px;
}
.input-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.input-fields input,
.input-fields label {
    flex: 1;
}
.input-fields input {
    font: inherit;
    background-color: var(--base-offwhite);
    padding: 8px;
    border-radius: 6px;
    border: none;
}

#incorrect-credentials p{
    margin-bottom: 5px;
    color: red;
    font-style: italic;
}

button {
    margin-top: 30px;
    height: 35px;
    font: inherit;
    font-weight: 500;
    background-color: var(--base-black);
    color: white;
    border:none;
    border-radius: 6px;
    margin-bottom: 10px;

    transition: transform 0.1s ease;
}
button:hover {
    transform: scale(1.005);
}